// Font Family
$font-family: 'Raleway', Arial, sans-serif;

// Colors
$color-dark: #09101A;
$color-light: #fff;
$color-cta-transparent: transparent;

// Font Sizes
$font-size-h1-mobile: 49px;
$font-size-h1-desktop: 35px;
$font-size-h2-mobile: 17px;
$font-size-h2-desktop: 31px;
$font-size-button-mobile: 12px;
$font-size-button-desktop: 14px;
$font-size-p-mobile: 14px;
$font-size-p-desktop: 16px;


// Font Weights
$font-weight-900: 900;
$font-weight-800: 800;
$font-weight-500: 500;

// Background Colors
$background-black: #000000;
$background-dark: #09101A;
$background-light: #fff;
$background-transparent: transparent;

// Gradients

$gradient-left-right: rgba(37, 45, 55, 0) 52%, #000000 95.2%, #09101A 100%;
$gradient-top-bottom: rgba(0, 0, 0, 0) 75%, #000000 100%;

//Desktop
$gradient-left-right-lg: rgba(37, 45, 55, 0) 20%, #000000 100%, #09101A 100%;
$gradient-top-bottom-lg: rgba(0, 0, 0, 0) 60%, #000000 100%;

//Borders
$border-radius-sm: 8px;
$border-radius-md: 12px;
$border-radius-lg: 50px;


//Paddings & Margins
$indent-xs: 0.5rem;
$indent-sm: 1rem;
$indent-lg: 2rem;
$indent-xl: 4rem;

//Opacity

$opacity: 0.8;
$opacity-btn: 0.5;

//Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;